<form name="vm.form" class="form-horizontal" role="form" novalidate autocomplete="off"
      ng-submit="vm.onSubmit()"
      ng-class="{'show-errors': vm.showErrors()}">
  <br>
  <div ng-if="vm.hasErrors()">
    <span class="login-form__title-error">Please correct the errors in red</span>
    <br><br>
  </div>
  <div class="login-form__body">
    <div class="login-field">
      <div class="login-field__aside">
        <label id="login-email-label" class="login-field__label">Username</label>
      </div>
      <div class="login-field__body" ng-class="{'has-error': vm.hasErrors('username')}">
        <input id="login-email" ng-model="vm.username" name="username" type="text"
               class="login-field__input" placeholder="" aria-labelledby="login-email-label" required/>

        <div class="login-field__feedback" ng-messages="vm.form.username.$error">
          <div ng-message="required">Your username is required.</div>
          <div ng-message="username">Enter a valid username.</div>
        </div>
      </div>
    </div>

    <div class="login-field">
      <div class="login-field__aside">
        <label id="login-password-label" class="login-field__label">Password</label>
      </div>
      <div class="login-field__body" ng-class="{'has-error': vm.hasErrors('password')}">
        <input id="login-password" ng-model="vm.password" name="password" type="password"
               class="login-field__input" placeholder="" aria-labelledby="login-password-label" required/>

        <div class="login-field__feedback" ng-messages="vm.form.password.$error">
          <div ng-message="required">Your password is required.</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row login-form__buttons">
    <div class="login-field__aside">
    </div>
    <div class="login-field__body">
      <button type="submit" class="btn-rounded login-form__submit" ng-disabled="vm.hasErrors()">Login</button>
    </div>
  </div>
</form>
